.hljs.language-tsql {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: rgb(255, 255, 255); /* Revert background to white */
    color: #808080; /* Revert text color to gray */
}

.language-tsql .hljs-keyword {
    color: #0000ff; /* Revert to original color */
    font-weight: normal;
}

.language-tsql .hljs-built_in {
    color: #ff00ff; /* Revert to original color */
}

.language-tsql .hljs-type {
    color: #008000; /* Revert to original color */
    font-weight: normal;
}

.language-tsql .hljs-function {
    color: #800000; /* Revert to original color */
}

.language-tsql .hljs-number {
    color: #000000; /* Revert to original color */
}

.language-tsql .hljs-string {
    color: #ff0000; /* Revert to original color */
}

.language-tsql .hljs-symbol {
    color: #000000; /* Revert to original color */
}

.language-tsql .hljs-comment {
    color: #008000; /* Revert to original color */
    font-style: normal; /* Revert to original style */
}

.language-tsql .hljs-meta {
    background: #cdcdcd; /* Revert to original background */
    color: #000000; /* Revert to original color */
}

.language-tsql .hljs-literal {
    color: #808080; /* Revert to original color */
}